/.DS_Store
/BorderView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/BorderView.xcodeproj/xcuserdata/Swift.xcuserdatad/xcschemes/xcschememanagement.plist
/BorderView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/BorderView.xcodeproj/project.xcworkspace/xcuserdata/Swift.xcuserdatad/UserInterfaceState.xcuserstate
